Load Libraries and display system info

In [1]:
# System info data
import os
import platform
from platform import python_version

In [200]:
# Import Libraries
import jupyterlab
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
%matplotlib inline
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
plt.rcParams['figure.figsize'] = [15, 5]
from IPython import display
from ipywidgets import interact, widgets
import pycountry
import pycountry_convert

In [3]:
print("System")
print("os name: %s" % os.name)
print("system: %s" % platform.system())
print("release: %s" % platform.release())
print()
print("Python")
print("version: %s" % python_version())
print()
print("Python Packages")
print("jupterlab==%s" % jupyterlab.__version__)
print("pandas==%s" % pd.__version__)

System
os name: posix
system: Darwin
release: 19.2.0

Python
version: 3.7.3

Python Packages
jupterlab==1.0.2
pandas==0.24.2

## Load data for Cases, Deaths and Recovered

In [59]:
# Load Dataset
# Source: RamiKrispin GitHub
dataset_url = 'https://raw.githubusercontent.com/RamiKrispin/coronavirus-csv/master/coronavirus_dataset.csv'

raw_data_all = pd.read_csv(dataset_url)

## Inspect & clean Dataset

In [60]:
# Datetime: convert 'date' column to datetime type
raw_data_all['date'] = pd.to_datetime(raw_data_all['date'])

In [61]:
raw_data_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66908 entries, 0 to 66907
Data columns (total 7 columns):
Province.State    19866 non-null object
Country.Region    66908 non-null object
Lat               66908 non-null float64
Long              66908 non-null float64
date              66908 non-null datetime64[ns]
cases             66908 non-null int64
type              66908 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 3.6+ MB

In [64]:
# Missing values per column
raw_data_all.isna().sum()

Province.State    47042
Country.Region        0
Lat                   0
Long                  0
date                  0
cases                 0
type                  0
dtype: int64

In [225]:
df_with_coords = raw_data_all

In [234]:
group = raw_data_all.groupby(['Country.Region', 'Province.State', 'date', 'type'])['cases']

In [239]:
#group.head()

In [236]:
df_with_coords['cumulative'] = df_with_coords.groupby(['Country.Region', 'Province.State', 'date', 'type'])['cases'].cumsum()# \
                                            #.apply(lambda x: x.cumsum())

In [238]:
df_with_coords.tail(50)

,Province.State,Country.Region,Lat,Long,date,cases,type,cumulative
66858,Zhejiang,China,29.1832,120.0934,2020-02-27,65,recovered,65
66859,Zhejiang,China,29.1832,120.0934,2020-02-28,43,recovered,43
66860,Zhejiang,China,29.1832,120.0934,2020-02-29,41,recovered,41
66861,Zhejiang,China,29.1832,120.0934,2020-03-01,30,recovered,30
66862,Zhejiang,China,29.1832,120.0934,2020-03-02,23,recovered,23
66863,Zhejiang,China,29.1832,120.0934,2020-03-03,24,recovered,24
66864,Zhejiang,China,29.1832,120.0934,2020-03-04,21,recovered,21
66865,Zhejiang,China,29.1832,120.0934,2020-03-05,10,recovered,10
66866,Zhejiang,China,29.1832,120.0934,2020-03-06,23,recovered,23
66867,Zhejiang,China,29.1832,120.0934,2020-03-07,7,recovered,7
66868,Zhejiang,China,29.1832,120.0934,2020-03-08,7,recovered,7
66869,Zhejiang,China,29.1832,120.0934,2020-03-09,15,recovered,15
66870,Zhejiang,China,29.1832,120.0934,2020-03-10,15,recovered,15
66871,Zhejiang,China,29.1832,120.0934,2020-03-11,4,recovered,4
66872,Zhejiang,China,29.1832,120.0934,2020-03-12,2,recovered,2
66873,Zhejiang,China,29.1832,120.0934,2020-03-13,0,recovered,0
66874,Zhejiang,China,29.1832,120.0934,2020-03-14,14,recovered,14
66875,Zhejiang,China,29.1832,120.0934,2020-03-15,0,recovered,0
66876,Zhejiang,China,29.1832,120.0934,2020-03-16,5,recovered,5
66877,Zhejiang,China,29.1832,120.0934,2020-03-17,0,recovered,0
66878,Zhejiang,China,29.1832,120.0934,2020-03-18,0,recovered,0
66879,Zhejiang,China,29.1832,120.0934,2020-03-19,1,recovered,1
66880,Zhejiang,China,29.1832,120.0934,2020-03-20,2,recovered,2
66881,Zhejiang,China,29.1832,120.0934,2020-03-21,0,recovered,0
66882,Zhejiang,China,29.1832,120.0934,2020-03-22,0,recovered,0
66883,Zhejiang,China,29.1832,120.0934,2020-03-23,2,recovered,2
66884,Zhejiang,China,29.1832,120.0934,2020-03-24,0,recovered,0
66885,Zhejiang,China,29.1832,120.0934,2020-03-25,0,recovered,0
66886,Zhejiang,China,29.1832,120.0934,2020-03-26,1,recovered,1
66887,Zhejiang,China,29.1832,120.0934,2020-03-27,0,recovered,0
66888,Zhejiang,China,29.1832,120.0934,2020-03-28,3,recovered,3
66889,Zhejiang,China,29.1832,120.0934,2020-03-29,0,recovered,0
66890,Zhejiang,China,29.1832,120.0934,2020-03-30,0,recovered,0
66891,Zhejiang,China,29.1832,120.0934,2020-03-31,1,recovered,1
66892,Zhejiang,China,29.1832,120.0934,2020-04-01,0,recovered,0
66893,Zhejiang,China,29.1832,120.0934,2020-04-02,2,recovered,2
66894,Zhejiang,China,29.1832,120.0934,2020-04-03,0,recovered,0
66895,Zhejiang,China,29.1832,120.0934,2020-04-04,1,recovered,1
66896,Zhejiang,China,29.1832,120.0934,2020-04-05,1,recovered,1
66897,Zhejiang,China,29.1832,120.0934,2020-04-06,0,recovered,0
66898,Zhejiang,China,29.1832,120.0934,2020-04-07,0,recovered,0
66899,Zhejiang,China,29.1832,120.0934,2020-04-08,2,recovered,2
66900,Zhejiang,China,29.1832,120.0934,2020-04-09,3,recovered,3
66901,Zhejiang,China,29.1832,120.0934,2020-04-10,0,recovered,0
66902,Zhejiang,China,29.1832,120.0934,2020-04-11,1,recovered,1
66903,Zhejiang,China,29.1832,120.0934,2020-04-12,2,recovered,2
66904,Zhejiang,China,29.1832,120.0934,2020-04-13,1,recovered,1
66905,Zhejiang,China,29.1832,120.0934,2020-04-14,3,recovered,3
66906,Zhejiang,China,29.1832,120.0934,2020-04-15,2,recovered,2
66907,Zhejiang,China,29.1832,120.0934,2020-04-16,0,recovered,0

In [212]:
raw_data_all.head()

  Province.State Country.Region   Lat  Long       date  cases       type
0            NaN    Afghanistan  33.0  65.0 2020-01-22      0  confirmed
1            NaN    Afghanistan  33.0  65.0 2020-01-23      0  confirmed
2            NaN    Afghanistan  33.0  65.0 2020-01-24      0  confirmed
3            NaN    Afghanistan  33.0  65.0 2020-01-25      0  confirmed
4            NaN    Afghanistan  33.0  65.0 2020-01-26      0  confirmed

## Clean up Provice.State

**Goal:** only Country should remain to specify location

In [164]:
# Create temporary data frame: Select all row where 'Province.State' == NaN
temp_df_notna = raw_data_all[pd.notna(raw_data_all['Province.State'])]
#
# temp_df_notna.head()

**Provinces:**
Sum up data in Provinces of China and Australia

In [165]:
#
temp_df_province = temp_df_notna[(temp_df_notna['Country.Region'] == 'China') | (temp_df_notna['Country.Region'] == 'Australia')]
#temp_df_province.head()
temp_df_province.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10578 entries, 15824 to 66907
Data columns (total 7 columns):
Province.State    10578 non-null object
Country.Region    10578 non-null object
Lat               10578 non-null float64
Long              10578 non-null float64
date              10578 non-null datetime64[ns]
cases             10578 non-null int64
type              10578 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 661.1+ KB

In [166]:
temp_df_province = temp_df_province.groupby(['Country.Region', 'date', 'type']) \
                                    .sum() \
                                    .reset_index()

In [167]:
temp_df_province.shape

(516, 6)

**Rename former Colonies:** 
Select all data where Country is not China, Australia or Canada.
Delete original Country name column and replace it with Province names.

In [168]:
# Select all rows where Country is neither China, nor Australia or Canada
temp_df_colonies = temp_df_notna[(temp_df_notna['Country.Region'] != 'China') 
                                 & (temp_df_notna['Country.Region'] != 'Australia')
                                & (temp_df_notna['Country.Region'] != 'Canada')] \
                                .drop('Country.Region', axis=1) \
                                .rename(columns={'Province.State': 'Country.Region'})

In [169]:
temp_df_colonies.shape

(6708, 6)

**Province == NaN:**
Remove Province.State column from all rows where Country is not Canada

In [170]:
# Select all rows where Country != Canada
temp_df_not_canada = raw_data_all[raw_data_all['Country.Region'] != 'Canada']

# Select all rows where Province is NaN
temp_df_not_canada = temp_df_not_canada[temp_df_not_canada['Province.State'].isna()]

# Delete Province column
temp_df_not_canada = temp_df_not_canada.drop('Province.State', axis=1)

In [171]:
temp_df_not_canada.shape

(46956, 6)

**Canada:**

In [172]:
temp_df_canada = raw_data_all[raw_data_all['Country.Region'] == 'Canada']

In [173]:
temp_df_canada = temp_df_canada.groupby(['Country.Region', 'date', 'type']) \
                                    .sum() \
                                    .reset_index()

In [181]:
# Print all shapes
print("Shape states:")
print(temp_df_not_canada.shape)
print("Shape states:")
print(temp_df_canada.shape)
print("Shape states:")
print(temp_df_province.shape)
print("Shape states:")
print(temp_df_colonies.shape)

Shape states:
(46956, 6)
Shape states:
(258, 6)
Shape states:
(516, 6)
Shape states:
(6708, 6)

In [183]:
temp_df_not_canada.shape[0] + temp_df_canada.shape[0] + temp_df_province.shape[0] + temp_df_colonies.shape[0]

54438

**Join temp dataframes together**

In [191]:
df_all = pd.concat([temp_df_not_canada, temp_df_province, temp_df_colonies, temp_df_canada], axis=0, sort=True)

In [192]:
df_all.shape

(54438, 6)

In [160]:
# Delete temporary data frames
# del temp_df_not_canada, temp_df_province, temp_df_colonies, temp_df_canada

---

In [193]:
# Reset index on data frame & drop old index
df_all = df_all.reset_index(drop=True)

In [194]:
df_all.head()

  Country.Region   Lat  Long  cases       date       type
0    Afghanistan  33.0  65.0      0 2020-01-22  confirmed
1    Afghanistan  33.0  65.0      0 2020-01-23  confirmed
2    Afghanistan  33.0  65.0      0 2020-01-24  confirmed
3    Afghanistan  33.0  65.0      0 2020-01-25  confirmed
4    Afghanistan  33.0  65.0      0 2020-01-26  confirmed

In [195]:
df_all.tail()

      Country.Region       Lat       Long  cases       date       type
54433         Canada  671.7607 -1237.6289    107 2020-04-15      death
54434         Canada   56.1304  -106.3468    756 2020-04-15  recovered
54435         Canada  671.7607 -1237.6289   2600 2020-04-16  confirmed
54436         Canada  671.7607 -1237.6289    251 2020-04-16      death
54437         Canada   56.1304  -106.3468    732 2020-04-16  recovered

In [196]:
df_all.isna().sum()

Country.Region    0
Lat               0
Long              0
cases             0
date              0
type              0
dtype: int64

In [199]:
#df_all[df_all['Country.Region'] == 'China']

In [ ]:
# Fix coordinates in summed up countries
#df_all.loc[df_all['Country.Region'] == 'China', 'Long']
#df_all.loc[df_all['Country.Region'] == 'China', 'Lat']

#df_all.loc[df_all['Country.Region'] == 'China', 'Long']
#df_all.loc[df_all['Country.Region'] == 'China', 'Lat']

#df_all.loc[df_all['Country.Region'] == 'China', 'Long']
#df_all.loc[df_all['Country.Region'] == 'China', 'Lat']

In [201]:
def get_country_code(country):
    try:
    return pycountry.countries.lookup(country)

In [204]:
#df_all['Country.Region'].apply(get_country_code)

In [206]:
len(pycountry.countries)

list(pycountry.countries)[0]

Country(alpha_2='AW', alpha_3='ABW', name='Aruba', numeric='533')

In [207]:
from pycountry import countries

In [210]:
for c in countries:
    print(c)

Country(alpha_2='AW', alpha_3='ABW', name='Aruba', numeric='533')
Country(alpha_2='AF', alpha_3='AFG', name='Afghanistan', numeric='004', official_name='Islamic Republic of Afghanistan')
Country(alpha_2='AO', alpha_3='AGO', name='Angola', numeric='024', official_name='Republic of Angola')
Country(alpha_2='AI', alpha_3='AIA', name='Anguilla', numeric='660')
Country(alpha_2='AX', alpha_3='ALA', name='Åland Islands', numeric='248')
Country(alpha_2='AL', alpha_3='ALB', name='Albania', numeric='008', official_name='Republic of Albania')
Country(alpha_2='AD', alpha_3='AND', name='Andorra', numeric='020', official_name='Principality of Andorra')
Country(alpha_2='AE', alpha_3='ARE', name='United Arab Emirates', numeric='784')
Country(alpha_2='AR', alpha_3='ARG', name='Argentina', numeric='032', official_name='Argentine Republic')
Country(alpha_2='AM', alpha_3='ARM', name='Armenia', numeric='051', official_name='Republic of Armenia')
Country(alpha_2='AS', alpha_3='ASM', name='American Samoa', numeric='016')
Country(alpha_2='AQ', alpha_3='ATA', name='Antarctica', numeric='010')
Country(alpha_2='TF', alpha_3='ATF', name='French Southern Territories', numeric='260')
Country(alpha_2='AG', alpha_3='ATG', name='Antigua and Barbuda', numeric='028')
Country(alpha_2='AU', alpha_3='AUS', name='Australia', numeric='036')
Country(alpha_2='AT', alpha_3='AUT', name='Austria', numeric='040', official_name='Republic of Austria')
Country(alpha_2='AZ', alpha_3='AZE', name='Azerbaijan', numeric='031', official_name='Republic of Azerbaijan')
Country(alpha_2='BI', alpha_3='BDI', name='Burundi', numeric='108', official_name='Republic of Burundi')
Country(alpha_2='BE', alpha_3='BEL', name='Belgium', numeric='056', official_name='Kingdom of Belgium')
Country(alpha_2='BJ', alpha_3='BEN', name='Benin', numeric='204', official_name='Republic of Benin')
Country(alpha_2='BQ', alpha_3='BES', name='Bonaire, Sint Eustatius and Saba', numeric='535', official_name='Bonaire, Sint Eustatius and Saba')
Country(alpha_2='BF', alpha_3='BFA', name='Burkina Faso', numeric='854')
Country(alpha_2='BD', alpha_3='BGD', name='Bangladesh', numeric='050', official_name="People's Republic of Bangladesh")
Country(alpha_2='BG', alpha_3='BGR', name='Bulgaria', numeric='100', official_name='Republic of Bulgaria')
Country(alpha_2='BH', alpha_3='BHR', name='Bahrain', numeric='048', official_name='Kingdom of Bahrain')
Country(alpha_2='BS', alpha_3='BHS', name='Bahamas', numeric='044', official_name='Commonwealth of the Bahamas')
Country(alpha_2='BA', alpha_3='BIH', name='Bosnia and Herzegovina', numeric='070', official_name='Republic of Bosnia and Herzegovina')
Country(alpha_2='BL', alpha_3='BLM', name='Saint Barthélemy', numeric='652')
Country(alpha_2='BY', alpha_3='BLR', name='Belarus', numeric='112', official_name='Republic of Belarus')
Country(alpha_2='BZ', alpha_3='BLZ', name='Belize', numeric='084')
Country(alpha_2='BM', alpha_3='BMU', name='Bermuda', numeric='060')
Country(alpha_2='BO', alpha_3='BOL', common_name='Bolivia', name='Bolivia, Plurinational State of', numeric='068', official_name='Plurinational State of Bolivia')
Country(alpha_2='BR', alpha_3='BRA', name='Brazil', numeric='076', official_name='Federative Republic of Brazil')
Country(alpha_2='BB', alpha_3='BRB', name='Barbados', numeric='052')
Country(alpha_2='BN', alpha_3='BRN', name='Brunei Darussalam', numeric='096')
Country(alpha_2='BT', alpha_3='BTN', name='Bhutan', numeric='064', official_name='Kingdom of Bhutan')
Country(alpha_2='BV', alpha_3='BVT', name='Bouvet Island', numeric='074')
Country(alpha_2='BW', alpha_3='BWA', name='Botswana', numeric='072', official_name='Republic of Botswana')
Country(alpha_2='CF', alpha_3='CAF', name='Central African Republic', numeric='140')
Country(alpha_2='CA', alpha_3='CAN', name='Canada', numeric='124')
Country(alpha_2='CC', alpha_3='CCK', name='Cocos (Keeling) Islands', numeric='166')
Country(alpha_2='CH', alpha_3='CHE', name='Switzerland', numeric='756', official_name='Swiss Confederation')
Country(alpha_2='CL', alpha_3='CHL', name='Chile', numeric='152', official_name='Republic of Chile')
Country(alpha_2='CN', alpha_3='CHN', name='China', numeric='156', official_name="People's Republic of China")
Country(alpha_2='CI', alpha_3='CIV', name="Côte d'Ivoire", numeric='384', official_name="Republic of Côte d'Ivoire")
Country(alpha_2='CM', alpha_3='CMR', name='Cameroon', numeric='120', official_name='Republic of Cameroon')
Country(alpha_2='CD', alpha_3='COD', name='Congo, The Democratic Republic of the', numeric='180')
Country(alpha_2='CG', alpha_3='COG', name='Congo', numeric='178', official_name='Republic of the Congo')
Country(alpha_2='CK', alpha_3='COK', name='Cook Islands', numeric='184')
Country(alpha_2='CO', alpha_3='COL', name='Colombia', numeric='170', official_name='Republic of Colombia')
Country(alpha_2='KM', alpha_3='COM', name='Comoros', numeric='174', official_name='Union of the Comoros')
Country(alpha_2='CV', alpha_3='CPV', name='Cabo Verde', numeric='132', official_name='Republic of Cabo Verde')
Country(alpha_2='CR', alpha_3='CRI', name='Costa Rica', numeric='188', official_name='Republic of Costa Rica')
Country(alpha_2='CU', alpha_3='CUB', name='Cuba', numeric='192', official_name='Republic of Cuba')
Country(alpha_2='CW', alpha_3='CUW', name='Curaçao', numeric='531', official_name='Curaçao')
Country(alpha_2='CX', alpha_3='CXR', name='Christmas Island', numeric='162')
Country(alpha_2='KY', alpha_3='CYM', name='Cayman Islands', numeric='136')
Country(alpha_2='CY', alpha_3='CYP', name='Cyprus', numeric='196', official_name='Republic of Cyprus')
Country(alpha_2='CZ', alpha_3='CZE', name='Czechia', numeric='203', official_name='Czech Republic')
Country(alpha_2='DE', alpha_3='DEU', name='Germany', numeric='276', official_name='Federal Republic of Germany')
Country(alpha_2='DJ', alpha_3='DJI', name='Djibouti', numeric='262', official_name='Republic of Djibouti')
Country(alpha_2='DM', alpha_3='DMA', name='Dominica', numeric='212', official_name='Commonwealth of Dominica')
Country(alpha_2='DK', alpha_3='DNK', name='Denmark', numeric='208', official_name='Kingdom of Denmark')
Country(alpha_2='DO', alpha_3='DOM', name='Dominican Republic', numeric='214')
Country(alpha_2='DZ', alpha_3='DZA', name='Algeria', numeric='012', official_name="People's Democratic Republic of Algeria")
Country(alpha_2='EC', alpha_3='ECU', name='Ecuador', numeric='218', official_name='Republic of Ecuador')
Country(alpha_2='EG', alpha_3='EGY', name='Egypt', numeric='818', official_name='Arab Republic of Egypt')
Country(alpha_2='ER', alpha_3='ERI', name='Eritrea', numeric='232', official_name='the State of Eritrea')
Country(alpha_2='EH', alpha_3='ESH', name='Western Sahara', numeric='732')
Country(alpha_2='ES', alpha_3='ESP', name='Spain', numeric='724', official_name='Kingdom of Spain')
Country(alpha_2='EE', alpha_3='EST', name='Estonia', numeric='233', official_name='Republic of Estonia')
Country(alpha_2='ET', alpha_3='ETH', name='Ethiopia', numeric='231', official_name='Federal Democratic Republic of Ethiopia')
Country(alpha_2='FI', alpha_3='FIN', name='Finland', numeric='246', official_name='Republic of Finland')
Country(alpha_2='FJ', alpha_3='FJI', name='Fiji', numeric='242', official_name='Republic of Fiji')
Country(alpha_2='FK', alpha_3='FLK', name='Falkland Islands (Malvinas)', numeric='238')
Country(alpha_2='FR', alpha_3='FRA', name='France', numeric='250', official_name='French Republic')
Country(alpha_2='FO', alpha_3='FRO', name='Faroe Islands', numeric='234')
Country(alpha_2='FM', alpha_3='FSM', name='Micronesia, Federated States of', numeric='583', official_name='Federated States of Micronesia')
Country(alpha_2='GA', alpha_3='GAB', name='Gabon', numeric='266', official_name='Gabonese Republic')
Country(alpha_2='GB', alpha_3='GBR', name='United Kingdom', numeric='826', official_name='United Kingdom of Great Britain and Northern Ireland')
Country(alpha_2='GE', alpha_3='GEO', name='Georgia', numeric='268')
Country(alpha_2='GG', alpha_3='GGY', name='Guernsey', numeric='831')
Country(alpha_2='GH', alpha_3='GHA', name='Ghana', numeric='288', official_name='Republic of Ghana')
Country(alpha_2='GI', alpha_3='GIB', name='Gibraltar', numeric='292')
Country(alpha_2='GN', alpha_3='GIN', name='Guinea', numeric='324', official_name='Republic of Guinea')
Country(alpha_2='GP', alpha_3='GLP', name='Guadeloupe', numeric='312')
Country(alpha_2='GM', alpha_3='GMB', name='Gambia', numeric='270', official_name='Republic of the Gambia')
Country(alpha_2='GW', alpha_3='GNB', name='Guinea-Bissau', numeric='624', official_name='Republic of Guinea-Bissau')
Country(alpha_2='GQ', alpha_3='GNQ', name='Equatorial Guinea', numeric='226', official_name='Republic of Equatorial Guinea')
Country(alpha_2='GR', alpha_3='GRC', name='Greece', numeric='300', official_name='Hellenic Republic')
Country(alpha_2='GD', alpha_3='GRD', name='Grenada', numeric='308')
Country(alpha_2='GL', alpha_3='GRL', name='Greenland', numeric='304')
Country(alpha_2='GT', alpha_3='GTM', name='Guatemala', numeric='320', official_name='Republic of Guatemala')
Country(alpha_2='GF', alpha_3='GUF', name='French Guiana', numeric='254')
Country(alpha_2='GU', alpha_3='GUM', name='Guam', numeric='316')
Country(alpha_2='GY', alpha_3='GUY', name='Guyana', numeric='328', official_name='Republic of Guyana')
Country(alpha_2='HK', alpha_3='HKG', name='Hong Kong', numeric='344', official_name='Hong Kong Special Administrative Region of China')
Country(alpha_2='HM', alpha_3='HMD', name='Heard Island and McDonald Islands', numeric='334')
Country(alpha_2='HN', alpha_3='HND', name='Honduras', numeric='340', official_name='Republic of Honduras')
Country(alpha_2='HR', alpha_3='HRV', name='Croatia', numeric='191', official_name='Republic of Croatia')
Country(alpha_2='HT', alpha_3='HTI', name='Haiti', numeric='332', official_name='Republic of Haiti')
Country(alpha_2='HU', alpha_3='HUN', name='Hungary', numeric='348', official_name='Hungary')
Country(alpha_2='ID', alpha_3='IDN', name='Indonesia', numeric='360', official_name='Republic of Indonesia')
Country(alpha_2='IM', alpha_3='IMN', name='Isle of Man', numeric='833')
Country(alpha_2='IN', alpha_3='IND', name='India', numeric='356', official_name='Republic of India')
Country(alpha_2='IO', alpha_3='IOT', name='British Indian Ocean Territory', numeric='086')
Country(alpha_2='IE', alpha_3='IRL', name='Ireland', numeric='372')
Country(alpha_2='IR', alpha_3='IRN', name='Iran, Islamic Republic of', numeric='364', official_name='Islamic Republic of Iran')
Country(alpha_2='IQ', alpha_3='IRQ', name='Iraq', numeric='368', official_name='Republic of Iraq')
Country(alpha_2='IS', alpha_3='ISL', name='Iceland', numeric='352', official_name='Republic of Iceland')
Country(alpha_2='IL', alpha_3='ISR', name='Israel', numeric='376', official_name='State of Israel')
Country(alpha_2='IT', alpha_3='ITA', name='Italy', numeric='380', official_name='Italian Republic')
Country(alpha_2='JM', alpha_3='JAM', name='Jamaica', numeric='388')
Country(alpha_2='JE', alpha_3='JEY', name='Jersey', numeric='832')
Country(alpha_2='JO', alpha_3='JOR', name='Jordan', numeric='400', official_name='Hashemite Kingdom of Jordan')
Country(alpha_2='JP', alpha_3='JPN', name='Japan', numeric='392')
Country(alpha_2='KZ', alpha_3='KAZ', name='Kazakhstan', numeric='398', official_name='Republic of Kazakhstan')
Country(alpha_2='KE', alpha_3='KEN', name='Kenya', numeric='404', official_name='Republic of Kenya')
Country(alpha_2='KG', alpha_3='KGZ', name='Kyrgyzstan', numeric='417', official_name='Kyrgyz Republic')
Country(alpha_2='KH', alpha_3='KHM', name='Cambodia', numeric='116', official_name='Kingdom of Cambodia')
Country(alpha_2='KI', alpha_3='KIR', name='Kiribati', numeric='296', official_name='Republic of Kiribati')
Country(alpha_2='KN', alpha_3='KNA', name='Saint Kitts and Nevis', numeric='659')
Country(alpha_2='KR', alpha_3='KOR', name='Korea, Republic of', numeric='410')
Country(alpha_2='KW', alpha_3='KWT', name='Kuwait', numeric='414', official_name='State of Kuwait')
Country(alpha_2='LA', alpha_3='LAO', name="Lao People's Democratic Republic", numeric='418')
Country(alpha_2='LB', alpha_3='LBN', name='Lebanon', numeric='422', official_name='Lebanese Republic')
Country(alpha_2='LR', alpha_3='LBR', name='Liberia', numeric='430', official_name='Republic of Liberia')
Country(alpha_2='LY', alpha_3='LBY', name='Libya', numeric='434', official_name='Libya')
Country(alpha_2='LC', alpha_3='LCA', name='Saint Lucia', numeric='662')
Country(alpha_2='LI', alpha_3='LIE', name='Liechtenstein', numeric='438', official_name='Principality of Liechtenstein')
Country(alpha_2='LK', alpha_3='LKA', name='Sri Lanka', numeric='144', official_name='Democratic Socialist Republic of Sri Lanka')
Country(alpha_2='LS', alpha_3='LSO', name='Lesotho', numeric='426', official_name='Kingdom of Lesotho')
Country(alpha_2='LT', alpha_3='LTU', name='Lithuania', numeric='440', official_name='Republic of Lithuania')
Country(alpha_2='LU', alpha_3='LUX', name='Luxembourg', numeric='442', official_name='Grand Duchy of Luxembourg')
Country(alpha_2='LV', alpha_3='LVA', name='Latvia', numeric='428', official_name='Republic of Latvia')
Country(alpha_2='MO', alpha_3='MAC', name='Macao', numeric='446', official_name='Macao Special Administrative Region of China')
Country(alpha_2='MF', alpha_3='MAF', name='Saint Martin (French part)', numeric='663')
Country(alpha_2='MA', alpha_3='MAR', name='Morocco', numeric='504', official_name='Kingdom of Morocco')
Country(alpha_2='MC', alpha_3='MCO', name='Monaco', numeric='492', official_name='Principality of Monaco')
Country(alpha_2='MD', alpha_3='MDA', common_name='Moldova', name='Moldova, Republic of', numeric='498', official_name='Republic of Moldova')
Country(alpha_2='MG', alpha_3='MDG', name='Madagascar', numeric='450', official_name='Republic of Madagascar')
Country(alpha_2='MV', alpha_3='MDV', name='Maldives', numeric='462', official_name='Republic of Maldives')
Country(alpha_2='MX', alpha_3='MEX', name='Mexico', numeric='484', official_name='United Mexican States')
Country(alpha_2='MH', alpha_3='MHL', name='Marshall Islands', numeric='584', official_name='Republic of the Marshall Islands')
Country(alpha_2='MK', alpha_3='MKD', name='North Macedonia', numeric='807', official_name='Republic of North Macedonia')
Country(alpha_2='ML', alpha_3='MLI', name='Mali', numeric='466', official_name='Republic of Mali')
Country(alpha_2='MT', alpha_3='MLT', name='Malta', numeric='470', official_name='Republic of Malta')
Country(alpha_2='MM', alpha_3='MMR', name='Myanmar', numeric='104', official_name='Republic of Myanmar')
Country(alpha_2='ME', alpha_3='MNE', name='Montenegro', numeric='499', official_name='Montenegro')
Country(alpha_2='MN', alpha_3='MNG', name='Mongolia', numeric='496')
Country(alpha_2='MP', alpha_3='MNP', name='Northern Mariana Islands', numeric='580', official_name='Commonwealth of the Northern Mariana Islands')
Country(alpha_2='MZ', alpha_3='MOZ', name='Mozambique', numeric='508', official_name='Republic of Mozambique')
Country(alpha_2='MR', alpha_3='MRT', name='Mauritania', numeric='478', official_name='Islamic Republic of Mauritania')
Country(alpha_2='MS', alpha_3='MSR', name='Montserrat', numeric='500')
Country(alpha_2='MQ', alpha_3='MTQ', name='Martinique', numeric='474')
Country(alpha_2='MU', alpha_3='MUS', name='Mauritius', numeric='480', official_name='Republic of Mauritius')
Country(alpha_2='MW', alpha_3='MWI', name='Malawi', numeric='454', official_name='Republic of Malawi')
Country(alpha_2='MY', alpha_3='MYS', name='Malaysia', numeric='458')
Country(alpha_2='YT', alpha_3='MYT', name='Mayotte', numeric='175')
Country(alpha_2='NA', alpha_3='NAM', name='Namibia', numeric='516', official_name='Republic of Namibia')
Country(alpha_2='NC', alpha_3='NCL', name='New Caledonia', numeric='540')
Country(alpha_2='NE', alpha_3='NER', name='Niger', numeric='562', official_name='Republic of the Niger')
Country(alpha_2='NF', alpha_3='NFK', name='Norfolk Island', numeric='574')
Country(alpha_2='NG', alpha_3='NGA', name='Nigeria', numeric='566', official_name='Federal Republic of Nigeria')
Country(alpha_2='NI', alpha_3='NIC', name='Nicaragua', numeric='558', official_name='Republic of Nicaragua')
Country(alpha_2='NU', alpha_3='NIU', name='Niue', numeric='570', official_name='Niue')
Country(alpha_2='NL', alpha_3='NLD', name='Netherlands', numeric='528', official_name='Kingdom of the Netherlands')
Country(alpha_2='NO', alpha_3='NOR', name='Norway', numeric='578', official_name='Kingdom of Norway')
Country(alpha_2='NP', alpha_3='NPL', name='Nepal', numeric='524', official_name='Federal Democratic Republic of Nepal')
Country(alpha_2='NR', alpha_3='NRU', name='Nauru', numeric='520', official_name='Republic of Nauru')
Country(alpha_2='NZ', alpha_3='NZL', name='New Zealand', numeric='554')
Country(alpha_2='OM', alpha_3='OMN', name='Oman', numeric='512', official_name='Sultanate of Oman')
Country(alpha_2='PK', alpha_3='PAK', name='Pakistan', numeric='586', official_name='Islamic Republic of Pakistan')
Country(alpha_2='PA', alpha_3='PAN', name='Panama', numeric='591', official_name='Republic of Panama')
Country(alpha_2='PN', alpha_3='PCN', name='Pitcairn', numeric='612')
Country(alpha_2='PE', alpha_3='PER', name='Peru', numeric='604', official_name='Republic of Peru')
Country(alpha_2='PH', alpha_3='PHL', name='Philippines', numeric='608', official_name='Republic of the Philippines')
Country(alpha_2='PW', alpha_3='PLW', name='Palau', numeric='585', official_name='Republic of Palau')
Country(alpha_2='PG', alpha_3='PNG', name='Papua New Guinea', numeric='598', official_name='Independent State of Papua New Guinea')
Country(alpha_2='PL', alpha_3='POL', name='Poland', numeric='616', official_name='Republic of Poland')
Country(alpha_2='PR', alpha_3='PRI', name='Puerto Rico', numeric='630')
Country(alpha_2='KP', alpha_3='PRK', name="Korea, Democratic People's Republic of", numeric='408', official_name="Democratic People's Republic of Korea")
Country(alpha_2='PT', alpha_3='PRT', name='Portugal', numeric='620', official_name='Portuguese Republic')
Country(alpha_2='PY', alpha_3='PRY', name='Paraguay', numeric='600', official_name='Republic of Paraguay')
Country(alpha_2='PS', alpha_3='PSE', name='Palestine, State of', numeric='275', official_name='the State of Palestine')
Country(alpha_2='PF', alpha_3='PYF', name='French Polynesia', numeric='258')
Country(alpha_2='QA', alpha_3='QAT', name='Qatar', numeric='634', official_name='State of Qatar')
Country(alpha_2='RE', alpha_3='REU', name='Réunion', numeric='638')
Country(alpha_2='RO', alpha_3='ROU', name='Romania', numeric='642')
Country(alpha_2='RU', alpha_3='RUS', name='Russian Federation', numeric='643')
Country(alpha_2='RW', alpha_3='RWA', name='Rwanda', numeric='646', official_name='Rwandese Republic')
Country(alpha_2='SA', alpha_3='SAU', name='Saudi Arabia', numeric='682', official_name='Kingdom of Saudi Arabia')
Country(alpha_2='SD', alpha_3='SDN', name='Sudan', numeric='729', official_name='Republic of the Sudan')
Country(alpha_2='SN', alpha_3='SEN', name='Senegal', numeric='686', official_name='Republic of Senegal')
Country(alpha_2='SG', alpha_3='SGP', name='Singapore', numeric='702', official_name='Republic of Singapore')
Country(alpha_2='GS', alpha_3='SGS', name='South Georgia and the South Sandwich Islands', numeric='239')
Country(alpha_2='SH', alpha_3='SHN', name='Saint Helena, Ascension and Tristan da Cunha', numeric='654')
Country(alpha_2='SJ', alpha_3='SJM', name='Svalbard and Jan Mayen', numeric='744')
Country(alpha_2='SB', alpha_3='SLB', name='Solomon Islands', numeric='090')
Country(alpha_2='SL', alpha_3='SLE', name='Sierra Leone', numeric='694', official_name='Republic of Sierra Leone')
Country(alpha_2='SV', alpha_3='SLV', name='El Salvador', numeric='222', official_name='Republic of El Salvador')
Country(alpha_2='SM', alpha_3='SMR', name='San Marino', numeric='674', official_name='Republic of San Marino')

In [211]:
import pycountry_convert as pc

country_code = pc.country_name_to_country_alpha2("China", cn_name_format="default")
print(country_code)
continent_name = pc.country_alpha2_to_continent_code(country_code)
print(continent_name)

CN
AS

---

In [50]:
# Reshape dataset: pivot to wide
# Index name
raw_data_all.index.name = 'index_corona' # naming the index column

# Index range = Number of observations
raw_data_all.index

RangeIndex(start=0, stop=66908, step=1, name='index_corona')

In [56]:
# Fill NaN in Province.State with 'missing'
raw_data_all['Province.State'] = raw_data_all['Province.State'].fillna('missing')

In [58]:
pd.pivot_table(raw_data_all, index=['index_corona', 'Country.Region', 'Province.State', 'date'], columns='type', values='cases', fill_value=0)

,,,type,confirmed,death,recovered
index_corona,Country.Region,Province.State,date,,,
0,Afghanistan,missing,2020-01-22,0,0,0
1,Afghanistan,missing,2020-01-23,0,0,0
2,Afghanistan,missing,2020-01-24,0,0,0
3,Afghanistan,missing,2020-01-25,0,0,0
4,Afghanistan,missing,2020-01-26,0,0,0
5,Afghanistan,missing,2020-01-27,0,0,0
6,Afghanistan,missing,2020-01-28,0,0,0
7,Afghanistan,missing,2020-01-29,0,0,0
8,Afghanistan,missing,2020-01-30,0,0,0
9,Afghanistan,missing,2020-01-31,0,0,0
10,Afghanistan,missing,2020-02-01,0,0,0
11,Afghanistan,missing,2020-02-02,0,0,0
12,Afghanistan,missing,2020-02-03,0,0,0
13,Afghanistan,missing,2020-02-04,0,0,0
14,Afghanistan,missing,2020-02-05,0,0,0
15,Afghanistan,missing,2020-02-06,0,0,0
16,Afghanistan,missing,2020-02-07,0,0,0
17,Afghanistan,missing,2020-02-08,0,0,0
18,Afghanistan,missing,2020-02-09,0,0,0
19,Afghanistan,missing,2020-02-10,0,0,0
20,Afghanistan,missing,2020-02-11,0,0,0
21,Afghanistan,missing,2020-02-12,0,0,0
22,Afghanistan,missing,2020-02-13,0,0,0
23,Afghanistan,missing,2020-02-14,0,0,0
24,Afghanistan,missing,2020-02-15,0,0,0
25,Afghanistan,missing,2020-02-16,0,0,0
26,Afghanistan,missing,2020-02-17,0,0,0
27,Afghanistan,missing,2020-02-18,0,0,0
28,Afghanistan,missing,2020-02-19,0,0,0
29,Afghanistan,missing,2020-02-20,0,0,0
...,...,...,...,...,...,...
66878,China,Zhejiang,2020-03-18,0,0,0
66879,China,Zhejiang,2020-03-19,0,0,1
66880,China,Zhejiang,2020-03-20,0,0,2
66881,China,Zhejiang,2020-03-21,0,0,0
66882,China,Zhejiang,2020-03-22,0,0,0
66883,China,Zhejiang,2020-03-23,0,0,2
66884,China,Zhejiang,2020-03-24,0,0,0
66885,China,Zhejiang,2020-03-25,0,0,0
66886,China,Zhejiang,2020-03-26,0,0,1
66887,China,Zhejiang,2020-03-27,0,0,0
66888,China,Zhejiang,2020-03-28,0,0,3
66889,China,Zhejiang,2020-03-29,0,0,0
66890,China,Zhejiang,2020-03-30,0,0,0
66891,China,Zhejiang,2020-03-31,0,0,1
66892,China,Zhejiang,2020-04-01,0,0,0
66893,China,Zhejiang,2020-04-02,0,0,2
66894,China,Zhejiang,2020-04-03,0,0,0
66895,China,Zhejiang,2020-04-04,0,0,1
66896,China,Zhejiang,2020-04-05,0,0,1
66897,China,Zhejiang,2020-04-06,0,0,0
66898,China,Zhejiang,2020-04-07,0,0,0
66899,China,Zhejiang,2020-04-08,0,0,2
66900,China,Zhejiang,2020-04-09,0,0,3
66901,China,Zhejiang,2020-04-10,0,0,0
66902,China,Zhejiang,2020-04-11,0,0,1
66903,China,Zhejiang,2020-04-12,0,0,2
66904,China,Zhejiang,2020-04-13,0,0,1
66905,China,Zhejiang,2020-04-14,0,0,3
66906,China,Zhejiang,2020-04-15,0,0,2
66907,China,Zhejiang,2020-04-16,0,0,0

In [84]:
df_all.index.get_level_values(2)

Index(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26',
       '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31',
       ...
       '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11',
       '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16'],
      dtype='object', name='date', length=66908)

In [12]:
# Set indices
df_all = raw_data_all.set_index(['Country.Region', 'Province.State', 'date'])

In [25]:
df_all.tail()

type                                                confirmed  death  \
Country.Region Province.State           date
United Kingdom Turks and Caicos Islands 2020-04-12        1.0    0.0
                                        2020-04-13        1.0    0.0
                                        2020-04-14        0.0    0.0
                                        2020-04-15        0.0    0.0
                                        2020-04-16        1.0    0.0

type                                                recovered
Country.Region Province.State           date
United Kingdom Turks and Caicos Islands 2020-04-12        0.0
                                        2020-04-13        0.0
                                        2020-04-14        0.0
                                        2020-04-15        0.0
                                        2020-04-16        0.0

In [27]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 7052 entries, (Australia, Australian Capital Territory, 2020-01-22 00:00:00) to (United Kingdom, Turks and Caicos Islands, 2020-04-16 00:00:00)
Data columns (total 3 columns):
confirmed    7052 non-null float64
death        7052 non-null float64
recovered    5762 non-null float64
dtypes: float64(3)
memory usage: 187.5+ KB

In [34]:
df_all

type                                                    confirmed  death  \
Country.Region Province.State               date
Australia      Australian Capital Territory 2020-01-22        0.0    0.0
                                            2020-01-23        0.0    0.0
                                            2020-01-24        0.0    0.0
                                            2020-01-25        0.0    0.0
                                            2020-01-26        0.0    0.0
                                            2020-01-27        0.0    0.0
                                            2020-01-28        0.0    0.0
                                            2020-01-29        0.0    0.0
                                            2020-01-30        0.0    0.0
                                            2020-01-31        0.0    0.0
                                            2020-02-01        0.0    0.0
                                            2020-02-02        0.0    0.0
                                            2020-02-03        0.0    0.0
                                            2020-02-04        0.0    0.0
                                            2020-02-05        0.0    0.0
                                            2020-02-06        0.0    0.0
                                            2020-02-07        0.0    0.0
                                            2020-02-08        0.0    0.0
                                            2020-02-09        0.0    0.0
                                            2020-02-10        0.0    0.0
                                            2020-02-11        0.0    0.0
                                            2020-02-12        0.0    0.0
                                            2020-02-13        0.0    0.0
                                            2020-02-14        0.0    0.0
                                            2020-02-15        0.0    0.0
                                            2020-02-16        0.0    0.0
                                            2020-02-17        0.0    0.0
                                            2020-02-18        0.0    0.0
                                            2020-02-19        0.0    0.0
                                            2020-02-20        0.0    0.0
...                                                           ...    ...
United Kingdom Turks and Caicos Islands     2020-03-18        0.0    0.0
                                            2020-03-19        0.0    0.0
                                            2020-03-20        0.0    0.0
                                            2020-03-21        0.0    0.0
                                            2020-03-22        0.0    0.0
                                            2020-03-23        0.0    0.0
                                            2020-03-24        0.0    0.0
                                            2020-03-25        0.0    0.0
                                            2020-03-26        0.0    0.0
                                            2020-03-27        0.0    0.0
                                            2020-03-28        4.0    0.0
                                            2020-03-29        0.0    0.0
                                            2020-03-30        1.0    0.0
                                            2020-03-31        0.0    0.0
                                            2020-04-01        1.0    0.0
                                            2020-04-02       -1.0    0.0
                                            2020-04-03        0.0    0.0
                                            2020-04-04        0.0    0.0
                                            2020-04-05        0.0    1.0
                                            2020-04-06        3.0    0.0
                                            2020-04-07        0.0    0.0
                                            2020-04-08        0.0    0.0
                                            2020-04-09        0.0    0.0
                                            2020-04-10        0.0    0.0
                                            2020-04-11        0.0    0.0
                                            2020-04-12        1.0    0.0
                                            2020-04-13        1.0    0.0
                                            2020-04-14        0.0    0.0
                                            2020-04-15        0.0    0.0
                                            2020-04-16        1.0    0.0

type                                                    recovered
Country.Region Province.State               date
Australia      Australian Capital Territory 2020-01-22        0.0
                                            2020-01-23        0.0
                                            2020-01-24        0.0
                                            2020-01-25        0.0
                                            2020-01-26        0.0
                                            2020-01-27        0.0
                                            2020-01-28        0.0
                                            2020-01-29        0.0
                                            2020-01-30        0.0
                                            2020-01-31        0.0
                                            2020-02-01        0.0
                                            2020-02-02        0.0
                                            2020-02-03        0.0
                                            2020-02-04        0.0
                                            2020-02-05        0.0
                                            2020-02-06        0.0
                                            2020-02-07        0.0
                                            2020-02-08        0.0
                                            2020-02-09        0.0
                                            2020-02-10        0.0
                                            2020-02-11        0.0
                                            2020-02-12        0.0
                                            2020-02-13        0.0
                                            2020-02-14        0.0
                                            2020-02-15        0.0
                                            2020-02-16        0.0
                                            2020-02-17        0.0
                                            2020-02-18        0.0
                                            2020-02-19        0.0
                                            2020-02-20        0.0
...                                                           ...
United Kingdom Turks and Caicos Islands     2020-03-18        0.0
                                            2020-03-19        0.0
                                            2020-03-20        0.0
                                            2020-03-21        0.0
                                            2020-03-22        0.0
                                            2020-03-23        0.0
                                            2020-03-24        0.0
                                            2020-03-25        0.0
                                            2020-03-26        0.0
                                            2020-03-27        0.0
                                            2020-03-28        0.0
                                            2020-03-29        0.0
                                            2020-03-30        0.0
                                            2020-03-31        0.0
                                            2020-04-01        0.0
                                            2020-04-02        0.0
                                            2020-04-03        0.0
                                            2020-04-04        0.0
                                            2020-04-05        0.0
                                            2020-04-06        0.0
                                            2020-04-07        0.0
                                            2020-04-08        0.0
                                            2020-04-09        0.0
                                            2020-04-10        0.0
                                            2020-04-11        0.0
                                            2020-04-12        0.0
                                            2020-04-13        0.0
                                            2020-04-14        0.0
                                            2020-04-15        0.0
                                            2020-04-16        0.0

[7052 rows x 3 columns]

In [33]:
df_all.xs('Israel', level = 'Country.Region')

KeyError: 'Israel'

In [16]:
raw_data_all.describe()

                Lat          Long         cases
count  66908.000000  66908.000000  66908.000000
mean      20.909630     24.021321     42.424718
std       24.585928     69.564377    603.017918
min      -51.796300   -135.000000   -344.000000
25%        6.877000    -15.180400      0.000000
50%       22.300000     21.005900      0.000000
75%       40.182400     84.250000      0.000000
max       71.706900    178.065000  35098.000000

In [31]:
# Select data where column 'Province.State' is non-null
df_provinces = raw_data_confirmed.loc[raw_data_confirmed['Province.State'].notna()]
#df_provinces2 = df_provinces[(df_provinces["Country.Region"] == "China") | (df_provinces["Country.Region"] == "Australia")]
#df_provinces2.groupby(['Country.Region', 'date', 'type']) #.agg({'cases': 'sum'})
#df_provinces2['cumulative'] = df_provinces2['cases'].cumsum()
df_provinces

,Province.State,Country.Region,Lat,Long,date,cases,type
15652,Alberta,Canada,53.9333,-116.5765,2020-01-22,0,confirmed
15653,Alberta,Canada,53.9333,-116.5765,2020-01-23,0,confirmed
15654,Alberta,Canada,53.9333,-116.5765,2020-01-24,0,confirmed
15655,Alberta,Canada,53.9333,-116.5765,2020-01-25,0,confirmed
15656,Alberta,Canada,53.9333,-116.5765,2020-01-26,0,confirmed
15657,Alberta,Canada,53.9333,-116.5765,2020-01-27,0,confirmed
15658,Alberta,Canada,53.9333,-116.5765,2020-01-28,0,confirmed
15659,Alberta,Canada,53.9333,-116.5765,2020-01-29,0,confirmed
15660,Alberta,Canada,53.9333,-116.5765,2020-01-30,0,confirmed
15661,Alberta,Canada,53.9333,-116.5765,2020-01-31,0,confirmed
15662,Alberta,Canada,53.9333,-116.5765,2020-02-01,0,confirmed
15663,Alberta,Canada,53.9333,-116.5765,2020-02-02,0,confirmed
15664,Alberta,Canada,53.9333,-116.5765,2020-02-03,0,confirmed
15665,Alberta,Canada,53.9333,-116.5765,2020-02-04,0,confirmed
15666,Alberta,Canada,53.9333,-116.5765,2020-02-05,0,confirmed
15667,Alberta,Canada,53.9333,-116.5765,2020-02-06,0,confirmed
15668,Alberta,Canada,53.9333,-116.5765,2020-02-07,0,confirmed
15669,Alberta,Canada,53.9333,-116.5765,2020-02-08,0,confirmed
15670,Alberta,Canada,53.9333,-116.5765,2020-02-09,0,confirmed
15671,Alberta,Canada,53.9333,-116.5765,2020-02-10,0,confirmed
15672,Alberta,Canada,53.9333,-116.5765,2020-02-11,0,confirmed
15673,Alberta,Canada,53.9333,-116.5765,2020-02-12,0,confirmed
15674,Alberta,Canada,53.9333,-116.5765,2020-02-13,0,confirmed
15675,Alberta,Canada,53.9333,-116.5765,2020-02-14,0,confirmed
15676,Alberta,Canada,53.9333,-116.5765,2020-02-15,0,confirmed
15677,Alberta,Canada,53.9333,-116.5765,2020-02-16,0,confirmed
15678,Alberta,Canada,53.9333,-116.5765,2020-02-17,0,confirmed
15679,Alberta,Canada,53.9333,-116.5765,2020-02-18,0,confirmed
15680,Alberta,Canada,53.9333,-116.5765,2020-02-19,0,confirmed
15681,Alberta,Canada,53.9333,-116.5765,2020-02-20,0,confirmed
...,...,...,...,...,...,...,...
22674,Zhejiang,China,29.1832,120.0934,2020-03-18,0,confirmed
22675,Zhejiang,China,29.1832,120.0934,2020-03-19,1,confirmed
22676,Zhejiang,China,29.1832,120.0934,2020-03-20,1,confirmed
22677,Zhejiang,China,29.1832,120.0934,2020-03-21,2,confirmed
22678,Zhejiang,China,29.1832,120.0934,2020-03-22,2,confirmed
22679,Zhejiang,China,29.1832,120.0934,2020-03-23,0,confirmed
22680,Zhejiang,China,29.1832,120.0934,2020-03-24,2,confirmed
22681,Zhejiang,China,29.1832,120.0934,2020-03-25,1,confirmed
22682,Zhejiang,China,29.1832,120.0934,2020-03-26,2,confirmed
22683,Zhejiang,China,29.1832,120.0934,2020-03-27,4,confirmed
22684,Zhejiang,China,29.1832,120.0934,2020-03-28,4,confirmed
22685,Zhejiang,China,29.1832,120.0934,2020-03-29,3,confirmed
22686,Zhejiang,China,29.1832,120.0934,2020-03-30,1,confirmed
22687,Zhejiang,China,29.1832,120.0934,2020-03-31,2,confirmed
22688,Zhejiang,China,29.1832,120.0934,2020-04-01,0,confirmed
22689,Zhejiang,China,29.1832,120.0934,2020-04-02,1,confirmed
22690,Zhejiang,China,29.1832,120.0934,2020-04-03,2,confirmed
22691,Zhejiang,China,29.1832,120.0934,2020-04-04,2,confirmed
22692,Zhejiang,China,29.1832,120.0934,2020-04-05,1,confirmed
22693,Zhejiang,China,29.1832,120.0934,2020-04-06,1,confirmed
22694,Zhejiang,China,29.1832,120.0934,2020-04-07,1,confirmed
22695,Zhejiang,China,29.1832,120.0934,2020-04-08,1,confirmed
22696,Zhejiang,China,29.1832,120.0934,2020-04-09,1,confirmed
22697,Zhejiang,China,29.1832,120.0934,2020-04-10,0,confirmed
22698,Zhejiang,China,29.1832,120.0934,2020-04-11,0,confirmed
22699,Zhejiang,China,29.1832,120.0934,2020-04-12,0,confirmed
22700,Zhejiang,China,29.1832,120.0934,2020-04-13,0,confirmed
22701,Zhejiang,China,29.1832,120.0934,2020-04-14,0,confirmed
22702,Zhejiang,China,29.1832,120.0934,2020-04-15,1,confirmed
22703,Zhejiang,China,29.1832,120.0934,2020-04-16,0,confirmed

In [23]:
df_provinces.info()
df_provinces2["Country.Region"] == "Australia"

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7052 entries, 15652 to 22703
Data columns (total 7 columns):
Province.State    7052 non-null object
Country.Region    7052 non-null object
Lat               7052 non-null float64
Long              7052 non-null float64
date              7052 non-null object
cases             7052 non-null int64
type              7052 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 440.8+ KB

15824    False
15825    False
15826    False
15827    False
15828    False
15829    False
15830    False
15831    False
15832    False
15833    False
15834    False
15835    False
15836    False
15837    False
15838    False
15839    False
15840    False
15841    False
15842    False
15843    False
15844    False
15845    False
15846    False
15847    False
15848    False
15849    False
15850    False
15851    False
15852    False
15853    False
         ...
22674    False
22675    False
22676    False
22677    False
22678    False
22679    False
22680    False
22681    False
22682    False
22683    False
22684    False
22685    False
22686    False
22687    False
22688    False
22689    False
22690    False
22691    False
22692    False
22693    False
22694    False
22695    False
22696    False
22697    False
22698    False
22699    False
22700    False
22701    False
22702    False
22703    False
Name: Country.Region, Length: 3526, dtype: bool